# Task 1: Preprocess and Explore the Data

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import norm
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
from statsmodels.tsa.stattools import adfuller
import sys
import os
sys.path.append(os.path.abspath("../Scripts"))

import warnings
warnings.filterwarnings('ignore')

In [2]:
sns.set(style="whitegrid")
plt.rcParams['figure.figsize'] = (12,6)
tickers = ['TSLA', 'BND', 'SPY']
start ='2015-07-01'
end = '2025-07-31'

In [3]:
from load_stock_data import *

In [4]:
df = download_stock_data(tickers, start, end)
print(f"Downloading {tickers} from {start} to {end} ...")
df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Downloading ['TSLA', 'BND', 'SPY'] from 2015-07-01 to 2025-07-31 ...

                 TSLA        BND         SPY
Date
2015-07-01  17.943333  60.816776  174.917068
2015-07-02  18.667999  60.967072  174.756943
2015-07-06  18.648001  61.177578  174.259598
2015-07-07  17.858667  61.237713  175.355423
2015-07-08  16.997334  61.410568  172.413467

In [5]:
# Suppose df is your stock prices DataFrame
clean_df = inspect_and_clean_df(df, method="linear")
display(clean_df.head())

Data types of each column:
TSLA    float64
BND     float64
SPY     float64
dtype: object

 Missing values per column:
TSLA    0
BND     0
SPY     0
dtype: int64

 Cleaned using 'linear' method.

                 TSLA        BND         SPY
Date
2015-07-01  17.943333  60.816776  174.917068
2015-07-02  18.667999  60.967072  174.756943
2015-07-06  18.648001  61.177578  174.259598
2015-07-07  17.858667  61.237713  175.355423
2015-07-08  16.997334  61.410568  172.413467

In [ ]:
print("\nAfter forward fill:")
display(handle_missing_values(df, method="ffill").head())

print("\nAfter filling missing with 0:")
display(handle_missing_values(df, method="zero").head())

print("\nAfter linear interpolation:")
display(handle_missing_values(df, method="interpolate").head())

print("\nAfter dropping rows with missing values:")
display(handle_missing_values(df, method="drop").head())

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
TSLA,2535.0,131.963002,120.914904,9.578000,18.967667,94.571335,236.761665,479.859985
BND,2535.0,68.469189,4.554601,60.779156,64.654358,67.604866,71.891136,77.318245
SPY,2535.0,334.193733,126.427704,155.869781,230.083191,305.264435,420.350510,637.099976

In [ ]:

# Example usage
df = clean_and_align(df)

In [ ]:
# Example usage:
returns_df = compute_returns(df)
print("Computed Returns:")
display(returns_df.head())

In [ ]:
# Example usage:
summary_stats = calculate_annualized_stats(returns)
display(summary_stats)

In [ ]:
# Example usage
plot_prices_and_returns(df, returns)

In [ ]:

# Example usage:
plot_rolling_volatility(log_returns, window=30)

In [ ]:
# Example usage
outlier_days = detect_outlier_days(log_returns, threshold=3)
display(outlier_days.head())